body {
  background-color: black;
  color: white;
}

.example {
  white-space: nowrap;
  padding: 1em;
  padding-bottom: 3em;
}

.example span {
  position: relative;
  top: .4em;
  left: .1em;
  height: 2em;
  padding: 3px;
  margin-right: 5px;
}

.example span {
  border-width: 1px;
  border-style: solid;
  background-color: black;
  font-size: xx-large;
}

span:before {
  position: absolute;
  top: 0;
  left: 0;
  padding: 2px;
  margin: -2px 0 0 -2px;
  font-size: x-small;
}


.unparsed { color: gray; }
.unparsed:before {content: "Unparsed Text";}

.parsed { border-color: #55F; }
.parsed:before {content: "Parsed Text";}

.sumti { border-color: #F55; }
.sumti:before {content: "sumti";}

.subsumti { border-color: #555; }
.subsumti:before {content: "subsumti";}

.tanru { border-color: #FF5; }
.tanru:before {content: "tanru";}


.gismu { border-color: #F5F; }
.gismu:before {content: "gismu";}

.free { border-color: #AFF;}
.free:before {content: "free";}
